.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-right: 1px solid #777777;
    padding: 20px 0;
    z-index: 500;
}

.navbar.collapsed {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-right: 1px solid #777777;
    transition: width 0.3s ease;
    padding: 20px 0;
    z-index: 500;
}

.navbar.collapsed .icon span {
    display: none;
}

.navbar .appname {
    display: flex;
    font-family: 'Instagram Sans', cursive;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 35px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar .icon {
    display: flex;
    flex-direction: row;
    height: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
    flex-grow: 1;
    align-items: center;
    text-decoration: none;
}

.navbar .icon:hover {
    opacity: 0.8;
}


.navbar .icon img {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.navbar .icon span {
    margin-left: 10px;
    font-size: 16px;
    color: #000000;
}

.navbar .icon:hover span,
.navbar .icon:hover img {
    opacity: 0.8;
}

.navbar .icon.active span {
    font-weight: bold;
    color: #000;
}

.navbar .icon.active img {
    border: 2px solid #000;
}