
body {
  background-color: #fafafa;  
  font-family: 'Arial', sans-serif;
}

.login-page {
  background-image: url('../../assets/background.png');  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;  
}

.top-left-logo {
  position: absolute;
  z-index: 10;  
}

.top-left-logo img {
  height: 180px;  
  width: 180px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
}

.login-box {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 40px;
  text-align: center;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.logo h1 {
  font-family: 'Instagram Sans', cursive;
  font-size: 3rem;
  color: #262626;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  background-color: #fafafa;
}

.login-btn {
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:disabled {
  background-color: #b2dffc;
}

.login-options {
  margin-top: 30px;
}

.signup-group {
  text-align: center;
  width: 350px;
  font-size: 14px;
  margin-top: 5px;  
  padding: 10px;  
  border-radius: 5px;
}

.forgot-password {
  color: #0095f6;
  font-size: 14px;
  text-decoration: none;
}

.signup-link {
  color: #0095f6;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.signup-link:hover {
  text-decoration: underline;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 400px;
  text-align: center;
  transform: scale(0.9);
  animation: zoomIn 0.3s forwards;
  position: relative; /* To position the close icon in the top-right corner */
}

/* Modal Header */
.modal-content h2 {
  font-size: 1.2rem; /* Reduced font size */
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.4;
}

/* Close Icon */
.modal-content .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.3s ease;
}

.modal-content .close-icon:hover {
  color: #0095f6;
}

/* Modal Close Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
