.search-container {
    position: absolute;
    top: 0;
    left: 90px;
    width: 400px;
    height: 100%;
    align-items: left;
    background-color: #fff;
    flex-direction: column;
    border-right: 1px solid #DBDBDB;
    padding: 20px 0;
    z-index: 1000;
}
.search-box {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DBDBDB;
}
.title {
    display: flex;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.search-input {
    width: 330px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    background-color: #efefef;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    border-color: #a8a8a8;
}

.result-search-box {
    position: absolute;
    top: 170px;
    width: 100%;
    height: 100%;
}
.recent-box {
    width: 100%;
    height: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recent-text {
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.recent-delete {
    margin-right: 20px;
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.recent-delete:hover {
    color: #03548a;
}

.recent-list-box {
    position: absolute;
    top: 20px;
    width: 100%;
    height: fill;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}