.suggest-list {
    padding: 0;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.suggest-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #efefef;
    transition: background-color 0.3s ease;
}

.suggest-item:hover {
    background-color: #fafafa;
}

.suggestion-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.suggest-username {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.follow-button {
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    background-color: #0095f6;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.follow-button:hover {
    background-color: #007acc;
}

.follow-button.followed {
    background-color: #8e8e8e;  
    cursor: default;
}

.follow-button:disabled {
    background-color: #8e8e8e;
    cursor: not-allowed;
}

.suggest-list .suggest-item:last-child {
    border-bottom: none;
}

.suggest-follow-container {
    margin-top: 20px;
    padding: 0 16px;
}

.suggest-follow-container h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #262626;
}
