@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.post-container{
    margin-left: 250px;
    height: 100vh;

    
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
}
.post-message{
    font-family: 'Open Sans', cursive;
    font-size: 16px;
    font-weight: lighter;
    color: #757575;
    margin-bottom: 20px;
    margin-left: 80px;
}
.management-title{
    font-family: 'Open Sans', cursive;
    font-size: 24px;
    font-weight: bold;
    color: #0095F6;
    margin-top: 20px;
    margin-left: 80px;
}
.post-table{
    margin-left: 80px;
    width: 1100px;
    
}
.post-table-title{
    font-family: 'Open Sans', cursive;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

